* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("https://images.unsplash.com/photo-1604382355076-af4b0eb60143?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"); */
  background-repeat: no-repeat;
  object-fit: contain;
  width: 100vw;
}

.nav a {
  display: flex;
  text-decoration: none;
  width: 100%;
  justify-content: space-around;
}
